<!DOCTYPE html>
<html lang="pl" layout:decorator="onlineStore" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${event.name}"></title>
</head>

<div layout:fragment="content">

    <h3 th:text="${event.name}"></h3>
    <h4 th:text="${event.date}"></h4>
    <h6 th:text="${event.location}"></h6>
    <p th:text="'Dostępna ilość biletów:' + ${event.tickets}"></p>
    <article th:text=" ${event.description}">
    </article>

    <form th:action="@{'/events/{name}/buy' (name=${event.name})}"
          th:object="${cart}" method="post">
        <div class="form-group">
            <label for="tickets">Ile biletów chcesz kupić?</label>
            <input type="number" class="form-control" th:field="*{ticketQuantity}" id="tickets"
                   placeholder="Podaj ilość biletów do kupna" value="1"> </input>
        </div>
        <div class="form-group">
        <label>Wybierz typ biletu</label>
            <input type="radio" th:field="*{ticketType}" th:value="Ulgowy"> Ulgowy </input>
            <input type="radio" th:field="*{ticketType}" th:value="Normalny"> Normalny </input>
        </div>
        <div class="form-group">
            <label>Wpisz kod rabatowy:</label>
            <input type="text" th:field="*{discountCode}" class="form-control" placeholder="Podaj kod rabatowy"> </input>
        </div>
        <input type="submit" value="Kup bilety"/>
    </form>

</div>

</html>