<!DOCTYPE HTML>
<html>
	<head>
		<title>Bilety MJM - Sprzedaż on-line</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<link rel="apple-touch-icon" sizes="57x57" href="images/icon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="images/icon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/icon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="images/icon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/icon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="images/icon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="images/icon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="images/icon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="images/icon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="images/icon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="images/icon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="images/icon/favicon-16x16.png">
		<link rel="manifest" href="images/icon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body>

	<!-- Header -->
	<header id="header">
		<nav>
			<ul>
				<li><a target="_blank" href="http://agencja-mjm.pl/" title="Strona internetowa Agencji MJM" class="icon fa-home"> AGENCJA-MJM.PL</a></li>
				<li><a href="login.html" class="icon fa-user"> LOGOWANIE</a></li>
				<li><a href="reg.html" class="icon fa-user-plus"> REJESTRACJA</a></li>
				<li><a href="basket.html"  class="active icon fa-shopping-bag"> KOSZYK (3)</a></li>
			</ul>
		</nav>
	</header>


	<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<div class="logo" >
							<a href="ticketmjm.html"><img src="images/logo2.png" alt="Logo MJM" width=75% height=75% position="center"/></a>
						</div>
						<ul>
							<li><a href="#one">Dokonanie</br>zakupu</a></li>
							<li><a href="#two">Dostępne</br>wydarzenia</a></li>
							<li><a href="#contact">Formularz</br>kontaktowy</a></li>
							<li><a href="#newsletter">Newsletter</a></li>
							<li><a href="#regulations">Regulamin</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">

						<div class="inner">
							<h1>INTERNETOWA</br>SPRZEDAŻ</br> BILETÓW MJM</h1>
							<p>Kup bilet on-line na wydarzenia organizowane przez Agencję Artystyczną MJM!</br>
							Dla nowych klientów - RABAT 15%!</p>

							<ul class="actions">
								<li><a href="#one" class="button scrolly special icon fa-chevron-down">6 PROSTYCH KROKÓW</a></li>
							</ul>
						</div>
					</section>


				<!-- One -->
				<section id="one" class="wrapper style3 fade-up">
					<div class="inner">
						<div class="container">
							<header class="major">
								<h2>Zapraszamy do zapoznania się z Naszą ofertą</h2>
								<p>Gwarantujemy wysoką jakość usług, solidność oraz terminowość !</p>
							</header>
							<div class="box alt">
								<div class="row uniform">
									<section class="4u 6u(medium) 12u$(xsmall)">
										<span class="icon major fa-user"></span>
										KROK 1
										<h3>Logowanie/Rejestracja</h3>
										<p>Posiadasz konto w naszym sklepie? Zaloguj się!</br>Jeśli jesteś nowym klientem - Utwórz konto i odbierza rabat 10%!</p>
									</section>
									<section class="4u 6u$(medium) 12u$(xsmall)">
										<span class="icon major fa-calendar"></span>
										KROK 2
										<h3>Wybierz wydarzenie</h3>
										<p>W zakładce "Dostępne wydarzenia" (menu boczne) znajdują się wszystkie aktualne imprezy organizowane przez Agencję MJM.</p>
									</section>
									<section class="4u$ 6u(medium) 12u$(xsmall)">
										<span class="icon major fa-ticket"></span>
										KROK 3
										<h3>Ilość i rodzaj biletów</h3>
										<p>Podaj ile biletów chcesz kupić oraz wybierz ich typ (normalne bądź ulgowe).</br>
										Jeśli posiadasz kupon rabatowy możesz wprowadzić kod dzięki któremu zostanie nadana zniżka.</p>
									</section>
									<section class="4u 6u$(medium) 12u$(xsmall)">
										<span class="icon major fa-bookmark"></span>
										KROK 4
										<h3>Rezerwacja biletów</h3>
										<p>Dodając bilety do koszyka składasz rezerwację. Termin dokonania płatności wynosi 7 dni. Po upływie wyznaczonego czasu i niedokonania wpłaty rezerwacja zostaje anulowana.</p>
									</section>
									<section class="4u 6u(medium) 12u$(xsmall)">
										<span class="icon major fa-money"></span>
										KROK 5
										<h3>Potwierdzenie i płatność</h3>
										<p>Przed dokonaniem płatności zostaniesz poproszony o potwierdzenie swoich danych osobowych.</br>Opłatę za zamówienia należy dokonać </br>za pomocą systemu Przelewy24.</p>
									</section>
									<section class="4u$ 6u$(medium) 12u$(xsmall)">
										<span class="icon major fa-check"></span>
										KROK 6
										<h3>Odbierz bilet</h3>
										<p>Po dokonaniu płatności na twój adres </br>e-mail zostaną przesłane bilety!</br>Do momentu rozpoczęcia wydarzenia możesz zrezygnować z zakupionych biletów. Pieniądze zostaną zwrócone.</p>
									</section>
								</div>
							</div>
						</div>
					</div>
				</section>

				<!-- Two -->
				<section id="two" class="wrapper style2 spotlights">
					<section>
						<a href="event_one_bay.html" class="image"><img src="images/photoevent_01.png" alt="" data-position="center center" /></a>
						<div class="content">
							<div class="inner">
								<h2>One - Lorem ipsum dolor sit amet</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								<h5>ILOŚ DOSTĘPNYCH BILETÓW: 124</h5>
								<h5>DATA 28-09-2017 | GODZINA 19:30 </h5>
								<h5>CENY BILETÓW: NORMALNY - 89,00zł / ULGOWY - 76,00zł</h5>
								</p>
								<ul class="actions">
									<li><a href="#" class="button special2 icon fa-file-pdf-o">POBIERZ OFERTĘ PDF</a></li>
									<li><a href="event_one_bay.html" class="button bay">Kup bilet</a></li>
								</ul>
							</div>
						</div>
					</section>
					<section>
						<a href="#" class="image"><img src="images/photoevent_01.png" alt="" data-position="center center" /></a>
						<div class="content">
							<div class="inner">
								<h2>Two - Lorem ipsum dolor sit amet</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								<h5>ILOŚ DOSTĘPNYCH BILETÓW: 13</h5>
								<h5>DATA 14-07-2017 | GODZINA 12:30 </h5>
								<h5>CENA BILETU: NORMALNY - 141,50zł</h5>
								</p>
								<ul class="actions">
									<li><a href="#" class="button special2 icon fa-file-pdf-o">POBIERZ OFERTĘ PDF</a></li>
									<li><a href="event_two_bay.html" class="button bay">Kup bilet</a></li>
								</ul>
							</div>
						</div>
					</section>
					<section>
						<a href="#" class="image"><img src="images/photoevent_01.png" alt="" data-position="center center" /></a>
						<div class="content">
							<div class="inner">
								<h2>Three - Lorem ipsum dolor sit amet</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								<h5>ILOŚ DOSTĘPNYCH BILETÓW: 261</h5>
								<h5>DATA 25-08-2017 | GODZINA 20:00 </h5>
								<h5>CENY BILETÓW: NORMALNY - 80,00zł / ULGOWY - 69,00zł</h5>
								</p>
								<ul class="actions">
									<li><a href="#" class="button special2 icon fa-file-pdf-o">POBIERZ OFERTĘ PDF</a></li>
									<li><a href="event_three_bay.html" class="button bay">Kup bilet</a></li>
								</ul>
							</div>
						</div>
					</section>
				</section>


				<!-- Kontakt -->
				<section id="contact" class="wrapper style1 fade-up">
					<div class="inner">
						<h2>KONTAKT</h2>
						<p>Zapraszamy do kontaktu telefonicznego bądź poprzez wypełnienie formularza kontaktowego znajdującego się poniżej.
							Dodatkową opcją kontaktu jest możliwość skorzystania z facebooka.</br> Na każdą wiadomość odpowiemy najszybciej jak tylko potrafimy...</p>
						<div class="split style1">
							<section>
								<form method="post"
									  action="contact.php"
									  name="contactform"
									  id="contact-form"
									  class="mtb-50 item_bottom">
									<div class="field half first">
										<label for="contact-name" class="text-uppercase">Imię i nazwisko:</label>
										<input type="text"
											   name="contactName"
											   id="contact-name"
											   class="form-control input-lg requiredField"
											   placeholder="Podaj imię i nazwisko"
											   data-error-empty="Proszę wpisać imię i nazwisko.">
									</div>
									<div class="field half">
										<label for="contact-mail" class="text-uppercase">Adres e-mail:</label>
										<input type="email" name="email"
											   id="contact-mail"
											   class="form-control input-lg requiredField"
											   placeholder="nazwa@przykład.pl"
											   data-error-empty="Proszę podać adres e-mail."
											   data-error-invalid="Błędny adres e-mail.">
									</div>
									<div class="field">
										<label for="message" class="text-uppercase">Wiadomość:</label>
											<textarea name="comments"
													  id="message"
													  class="form-control input-lg requiredField"
													  rows="5"
													  placeholder="Wpisz treść wiadomości"
													  data-error-empty="Proszę wpisać treść wiadomości."></textarea>
									</div>
									<ul class="actions">
										<button id="submit" type="submit" name="submit"
												data-error-message="Nie wysłano wiadomości"
												data-sending-message="Wysyłanie..."
												data-ok-message="Wiadomość wysłano pomyślnie!">
											<span data-hover="Send message" class="text-uppercase">Wyślij wiadomość</span>
										</button>
										<input type="hidden"
											   name="submitted"
											   id="submitted"
											   value="true" />
									</ul>
								</form>

							</section>

							<section>
								<ul class="contact">
									<li>
										<h3>Adres</h3>
											<span>Agencja Artystyczna MJM<br />
											ul. Hubala 12/13/25<br />
											26-200 Końskie</span>
									</li>
									<li>
										<h3>Email</h3>
										<span>mariusz.slowinski@op.pl</span>
									</li>
									<li>
										<h3>Telefon</h3>
										<span>Kom: 669-636-293</span>
									</li>
									<li>
										<h3>Media społecznościowe</h3>
										<ul class="icons">
											<li><a target="_blank" href="https://www.facebook.com/agencjamjm/?fref=ts"
												   title="Agencja MJM na Facebook'u" class="fa-facebook"><span class="label">Facebook</span></a></li>
											<li><a target="_blank" href="https://www.instagram.com/jakbymarian/"
												   title="Agencja MJM na Instagramie" class="fa-instagram"><span class="label">Instagram</span></a></li>
											<li><a target="_blank" href="https://www.youtube.com/user/2ciapaty"
												   title="Agencja MJM na YouTube" class="fa-youtube"><span class="label">YouTube</span></a></li>
										</ul>
									</li>
								</ul>
							</section>
						</div>
					</div>
				</section>


				<!-- Newsletter -->
				<section id="newsletter" class="wrapper style2-alt spotlights">
					<div class="inner">
						<div class="split style1">
							<section>
								<h2>NEWSLETTER MJM</h2>
								<p>Zapisz się za darmo i skorzystaj z jednorazowego rabatu -10%*</p>
								<form method="post" action="https://app.freshmail.com/pl/actions/subscribe/"><br />
									<input type="hidden" name="subscribers_list_hash" value="wnaaaexsf4" /><br />
									<label for="freshmail_email">Podaj adres e-mail:</label>
									<input type="text" id="freshmail_email" name="freshmail_email"/> <br/><br />
									<label for="fm_imie">Podaj imię:</label>
									<input type="text" id="fm_imie" name="freshmail_custom_field[imie]"><br />
									<input type="submit" value="Zapisz mnie" /><br />
								</form>
								<p style="font-size: 13px;">*Rabat -10% dotyczy wydarzeń organizowanych przez Agencję Artystyczną MJM do kwoty 200zł.</p>

							</section>

							<section>
								<p>Zapisując się do newslettera wiele zyskujesz...</p>
								<ul>
									<li>Jako pierwszy dowiesz się o nowych ofertach!</li>
									<li>Tylko dla Ciebie organizowane będą specjalne promocje. </li>
									<li>Nigdy nic ci nie umknie!</li>
								</ul>
								<p style="font-size: 13px;">Nie spamujemy. Przesyłamy oferty średnio raz na dwa tygodnie!</p>
								<p style="font-size: 13px;">W każdej chwili możesz się wypisać...</p>
							</section>
						</div>
					</div>
				</section>

				<!-- Regulations -->
				<section id="regulations" class="wrapper style1-alt spotlights">
					<section>
						<a href="#" class="image"><img src="images/regulamin.png" alt="" data-position="center center" /></a>
						<div class="content">
							<div class="inner">
								<h2>Regulamin sprzedaży biletów ON-LINE</h2>
								<p></p>
								<ul class="actions">
									<li><a href="#" class="button special icon fa-download">POBIERZ PDF</a></li>
								</ul>
							</div>
						</div>
					</section>
				</section>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>